@{
    ViewData["Title"] = "Menu";
}
@model MVC.Models.Menu.MenuViewModel;
<link rel="stylesheet" href="css/Menu/menu.css">
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/menu.js"></script>

<div class="text-center">

    @foreach (var pasta in Model.Pastas)
    {
        <div id="@pasta.Id" class="menu-card">
            <a href="@pasta.ImagePath">
                <img src="@pasta.ImagePath" />
            </a>
            <h2>@pasta.Name</h2>
            <p>@pasta.Description</p>
            <p class="price">@pasta.Price</p>
            <div class="buttons">
                <button class="btn btn-primary add-to-cart" onclick="addToCart('@pasta.Id', '@pasta.Name', '@pasta.Price', 'pasta')">Add to cart</button>
                <button class="btn btn-primary show" onclick="toggleExtras('@pasta.Id')">Show extra tastes</button>
                <select name="pieces" id="pieces" style="display:block">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="extras" style=" display: none;">
                @foreach (var extraIngredient in Model.ExtraIngredients)
                {
                    <div>
                        <input type="checkbox" id="@($"extra_{extraIngredient.Id}")" name="@($"extra_{extraIngredient.Id}")">
                        <label for="@($"extra_{extraIngredient.Id}")">@extraIngredient.Name - @extraIngredient.Price</label>
                    </div>
                }
            </div>
        </div>
    }
    @foreach (var beverage in Model.Beverages)
    {
        <div class="menu-card" id="@beverage.Id">
            <a href="@beverage.ImagePath">
                <img src="@beverage.ImagePath" />
            </a>
            <h2>@beverage.Name</h2>
            <p>@beverage.Description</p>
            <p class="price">@beverage.Price</p>
            <div class="button">
                <button class="btn btn-primary add-to-cart" onclick="addToCart('@beverage.Id', '@beverage.Name', '@beverage.Price', 'beverage')">Add to cart</button>
                <select name="pieces" id="pieces">
                    <option value="1">1</option>
                </select>
            </div>
        </div>
    }
</div>
